[Match]
Type=ether
Name=!veth*
KernelCommandLine=!nfsroot
KernelCommandLine=!ip

[Network]
DHCP=no
Address=192.168.3.11/24
Gateway=192.168.3.1
DNS=192.168.3.1

[DHCP]
UseMTU=yes
RouteMetric=10
ClientIdentifier=mac
